# Nodemailer SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=alishabatham2@gmail.com
SMTP_PASS=lkgm bcgd vnwi czbe
SMTP_SECURE=false

# MongoDB Database Connection
MONGODB_URI=mongodb+srv://alishabatham2_db_user:jCmP00rPLuqyLE0h@cluster0.lahalx4.mongodb.net/?appName=Cluster0
